#sapnav {
background-color: #3F5161;
color: white;
border-radius: 0%;
}

footer {
position:absolute;
bottom:0;
width:100%;
height:60px;   /* Height of the footer */
background:lightgrey;
text-align: center;
}
.card-img-top{
height: 200px;
width:auto;
}

#card-back{
background-color: lightgrey;
position:absolute;
opacity: 80%;
color:black;
margin-bottom: 180px;
}
.card-img {
height:auto;
width:auto;
}
.card-body {
display: flex;
flex-direction: column;
}

i {
padding-right: 1%;
}

#nav-link {
color: white;
}

#alertnumber{
	color:red;
}

form {
	border: 3px solid #f1f1f1;
}

#portalhead {
	text-align: center;
}

/* Full-width inputs */
input[type=text], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

/* Set a style for all buttons */
button {
	background-color: #04AA6D;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
	opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
	width: auto;
	padding: 10px 18px;
	background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
	text-align: center;
	margin: 24px 0 12px 0;
}

/* Avatar image */
/* img.avatar {
	width: 40%;
	border-radius: 50%;
} */

/* Add padding to containers */
.container {
	padding: 16px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
}


/* The "Forgot password" text */
span.psw {
	float: right;
	padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
	span.psw {
	display: block;
	float: none;
	}
	.cancelbtn {
	width: 100%;
	}
}

html {
	position: relative;
	min-height: 100%;
  }
  body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
  }
  .footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #f5f5f5;
  }

#bodyspace {
	margin-bottom: 60px;
}  
